---
import ProfileLinks from "./ProfileLinks.astro";

const {
  firstName,
  lastName,
  role,
  image,
  color,
  quote,
  slug,
  website,
  instagram,
  linkedin,
  as = 'div',
  link = true
} = Astro.props;

const Tag = as;
---

<Tag class="profile" style={`background-color: ${color};`} data-roles={role.join('/')} transition:name=`bg-${slug}`>
  {link ? (
    <a href={`/grads/${slug}`} style="text-decoration: none; color: inherit;" class="card-inner">
      <img src={image} alt={`${firstName} ${lastName}`} transition:name={`image-${slug}`} />
      <div class="card-content">
        <div class="name-and-role">
          <h3 transition:name={`name-${slug}`}>{firstName} {lastName}</h3>
          <p transition:name={`role-${slug}`}>{role.join(" / ")}</p>
        </div>
        <p transition:name={`quote-${slug}`}>{quote}</p>
      </div>
    </a>
  ) : (
    <div class="card-inner">
      <img src={image} alt={`${firstName} ${lastName}`} transition:name={`image-${slug}`} />
      <div class="card-content">
        <div class="name-and-role">
          <h3 transition:name={`name-${slug}`}>{firstName} {lastName}</h3>
          <p transition:name={`role-${slug}`}>{role.join(" / ")}</p>
        </div>
        <p transition:name={`quote-${slug}`}>{quote}</p>
      </div>
    </div>
   <ProfileLinks
        website={website}
        linkedin={linkedin}
        instagram={instagram}
      />
  )}
</Tag>
